In [3]:
import pandas as pd

In [4]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
df = pd.read_csv(prefix + 'yellow_tripdata_2021-01.csv.gz', nrows=100)

In [7]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [6]:
# Check data types
df.dtypes

VendorID                   int64
tpep_pickup_datetime         str
tpep_dropoff_datetime        str
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag           str
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [31]:
# Check data shape
df.shape

(100, 18)

In [33]:
uv add sqlalchemy "psycopg[binary,pool]"

/workspaces/data-engineering-zoomcamp-portfolio/pipeline/.venv/bin/python3: No module named uv
Note: you may need to restart the kernel to use updated packages.

In [17]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg://root:root@localhost:5432/ny_taxi')

In [18]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [25]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [26]:
import pandas as pd

# 1. Define which columns are dates
parse_dates = ['tpep_pickup_datetime', 'tpep_dropoff_datetime']

# 2. Define the schema for your columns
# Using pd.Int64Dtype() is safer for data with potential missing values
dtype = {
    'VendorID': pd.Int64Dtype(),
    'passenger_count': pd.Int64Dtype(),
    'trip_distance': float,
    'RatecodeID': pd.Int64Dtype(),
    'store_and_fwd_flag': str,
    'PULocationID': int,
    'DOLocationID': int,
    'payment_type': pd.Int64Dtype(),
    'fare_amount': float,
    'extra': float,
    'mta_tax': float,
    'tip_amount': float,
    'tolls_amount': float,
    'improvement_surcharge': float,
    'total_amount': float,
    'congestion_surcharge': float
}

In [29]:
df_iter = pd.read_csv(
    prefix + 'yellow_tripdata_2021-01.csv.gz',
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [34]:
import pandas as pd
from time import time

# 1. Define your variables FIRST
parse_dates = ['tpep_pickup_datetime', 'tpep_dropoff_datetime']
taxi_dtypes = {
    'VendorID': 'Int64',
    'passenger_count': 'Int64',
    'trip_distance': float,
    'RatecodeID': 'Int64',
    'store_and_fwd_flag': str,
    'PULocationID': int,
    'DOLocationID': int,
    'payment_type': 'Int64',
    'fare_amount': float,
    'extra': float,
    'mta_tax': float,
    'tip_amount': float,
    'tolls_amount': float,
    'improvement_surcharge': float,
    'total_amount': float,
    'congestion_surcharge': float
}

# 2. Create the iterator
df_iter = pd.read_csv(
    prefix + 'yellow_tripdata_2021-01.csv.gz',
    dtype=taxi_dtypes,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

# 3. Use 'replace' once to create the empty table with headers
# We grab just the first chunk's structure (n=0)
df_header = pd.read_csv(prefix + 'yellow_tripdata_2021-01.csv.gz', nrows=1)
df_header.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

# 4. Loop through the iterator and insert data
# DO NOT run a separate loop for printing; do everything here
for df_chunk in df_iter:
    t_start = time()
    
    # Append the chunk to the table we just created
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', index=False)
    
    t_end = time()
    print(f"Inserted a chunk of {len(df_chunk)} rows, took {t_end - t_start:.3f} seconds")

print("All data ingested successfully!")

Inserted a chunk of 100000 rows, took 5.793 seconds
Inserted a chunk of 100000 rows, took 5.670 seconds
Inserted a chunk of 100000 rows, took 5.883 seconds
Inserted a chunk of 100000 rows, took 5.759 seconds
Inserted a chunk of 100000 rows, took 5.719 seconds
Inserted a chunk of 100000 rows, took 7.024 seconds
Inserted a chunk of 100000 rows, took 6.029 seconds
Inserted a chunk of 100000 rows, took 5.714 seconds
Inserted a chunk of 100000 rows, took 5.991 seconds
Inserted a chunk of 100000 rows, took 5.874 seconds
Inserted a chunk of 100000 rows, took 7.012 seconds
Inserted a chunk of 100000 rows, took 6.505 seconds
Inserted a chunk of 100000 rows, took 5.603 seconds
Inserted a chunk of 69765 rows, took 3.962 seconds
All data ingested successfully!

In [30]:
df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

NameError: name 'df_chunk' is not defined

In [35]:
from tqdm.auto import tqdm

ModuleNotFoundError: No module named 'tqdm'

In [36]:
uv add tqdm

/workspaces/data-engineering-zoomcamp-portfolio/pipeline/.venv/bin/python3: No module named uv
Note: you may need to restart the kernel to use updated packages.

In [37]:
from tqdm.auto import tqdm

for df_chunk in tqdm(df_iter):
    ...

ModuleNotFoundError: No module named 'tqdm'